<% if flash[:error] %>
    <h3 class="has-text-danger"><%= flash[:error] %></h3>
<% end %>


<h3 class="subtitle has-text-weight-bold">Edit Dependent:</h3>

<form action="/dependents/<%= @dependent.id %>" method="post" >
<input id="hidden" type="hidden" name="_method" value="patch">

<label>Dependent Name:
<input type="text" name="dependent[name]" value= "<%= @dependent.name %>">
</label> *required
<br>
<br>
<label>Dependent Relationship
<input type="text" name="dependent[relationship]" value= "<%= @dependent.relationship %>">
</label>
<br>
<br>
<input type="submit" value="Submit">

<form action="/dependents/:id/delete" method="POST">
<input="submit" value="Delete Dependent">
</form>

</form>
<br>
<br>
<a href="/dependents/<%= @dependent.id %>">Cancel</a>