<h2> <%= @dependent.name %>'s Activities </h2>

<% @dependent.activities.each do |a| %>
    <ul>
    <li><a href="/activities/<%= a.id %>"><%= a.title %></a></li>
    </ul>
<% end %>

<br>

<form action="/activities/new" method="GET">
<input type="submit" value="Create New Activity">
</form>

<br>

<form action="/dependents/<%= @dependent.id %>/edit" method="GET">

<input type="submit" value="Edit Dependent">
</form>

<br>

<form action="/dependents/<%= @dependent.id %>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">

<input type="submit" value="Delete Dependent">
</form>


