
<% if flash[:error] %>
<h3 class="has-text-danger"><%= flash[:error] %></h3>
<% end %>

<br>
<h2 class="subtitle has-text-weight-bold"><%= @dependent.name %>'s Activities </h2>

<div class="container">
<div class="column">
<% @dependent.activities.each.with_index(1) do |a| %>
    <h5 class="subtitle"><a href="/activities/<%= a.id %>"><%= a.title %></a></h5>
    <p>Contact Name: <%= a.contact_name %></p>
    <p>Contact Phone: <%= a.contact_phone %></p>
    <p>Website: <%= a.website %></p>
    <p>Notes: <%= a.notes %></p>
    <br>
<% end %>
</div>
</div>

<br>
<a href="/activities/new">Create a New Activity</a>
<br>
<a href="/dependents/<%= @dependent.id %>/edit">Edit Dependent</a>
<br>
<a href="/users/<%=current_user.id %>">Home</a>
<br>
<br>
<form action="/dependents/<%= @dependent.id %>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">

<input type="submit" value="Delete Dependent">
</form>


