<% if flash[:error] %>
<%= flash[:error] %> 
<% end %>

<h2> Welcome to your dashboard, <%= @user.name %>! </h2>

<h3>Your dependents and their activities:</h3>
<br>
<% @user.dependents.each.with_index(1) do |d, i| %>
    <h4> <%= i %>. <a href="/dependents/<%=d.id%>"><%= d.name %></a> </h4>
    <br>
    <% d.activities.each do |a| %> 
       <p><a href="/activities/<%= a.id %>"><%= a.title %></a></p>
       <p>Contact Name: <%= a.contact_name %></p>
       <p>Contact Phone: <%= a.contact_phone %></p>
       <p>Website: <%= a.website %></p>
       <p>Notes: <%= a.notes %></p>

    <% end %>
    <br>
    <% end %>

<h5>Click on the name of the dependent or activity to edit details.</h5>
<br>
<h5>OR</h5>
<br>
<a href="/dependents/new">Create a New Dependent</a>
<br>
<a href="/users/logout">Logout</a>
