<% if flash[:error] %>
    <h3 class="has-text-danger"><%= flash[:error] %></h3>
<% end %>
<br>
<h3 class="subtitle has-text-weight-bold"> Welcome to your dashboard, <%= @user.name %>!</h3>
<h5>Your dependents and their activities:</h5>
<br>
<div class="container">
<div class="column">
    <% @user.dependents.each do |d| %>
        <h5 class="subtitle has-text-weight-bold"><a href="/dependents/<%=d.id%>"><%= d.name %> - <%= d.relationship %></a></h5>
        <% d.activities.each do |a| %> 
            <p><a href="/activities/<%= a.id %>"><%= a.title %></a></p>
            <p>Contact Name: <%= a.contact_name %></p>
            <p>Contact Phone: <%= a.contact_phone %></p>
            <p>Website: <%= a.website %></p>
            <p>Notes: <%= a.notes %></p>
        <% end %>
        <br>
    <% end %>
    </div>
</div>


<h5>Click on the name of the dependent or activity to edit details.</h5>
<br>
<h5>OR</h5>
<br>
<a href="/dependents/new">Create a New Dependent</a>
<br>
<a href="/users/logout">Logout</a>
