<h2> <%= @activity.title %></h2>

<p>Dependent Name: <%= @activity.dependent_name %></p>
<p>Contact Name: <%= @activity.contact_name %></p>
<p>Contact Phone: <%= @activity.contact_phone %></p>
<p>Website: <%= @activity.website %></p>
<p>Notes: <%= @activity.notes %></p>
<br>
<a href="/dependents/<%= @activity.dependent.id %>">Back to Dependent Page</a>
<br>
<a href="/users/<%=current_user.id %>">Home</a>
<br>
<a href="/activities/<%= @activity.id %>/edit">Edit Activity</a>
<br>
<br>
<form action="/activities/<%= @activity.id %>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">

<input type="submit" value="Delete Activity">
</form>
